/*
* main_style.css
* Date 9/24/16
* Created by Alec Waichunas
* CSS that makes my site look good!
*/

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: hidden;
}
/*NAVIGATION BAR START AKA ALGORITHM ;) */

table{
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

td{
    margin: 0;
    padding: 0;
}

.nav_holder{
    height: 100%;
    width: 250px;
    background-color: rgb(230, 230, 230);
    border-right: 1px solid white;
}

.nav_bar{
    width: 250px;
    min-height: 600px;
    height: 100%;
    background-color: inherit;
}

.nav_table{
    width: 100%;
    max-height: 600px;
}

.nav_table a{
    display: block;
    line-height: 50px;
    text-decoration: none;
    color: #00669b;
}

.tab {
    margin-bottom: 1%;
    background-color: #c2d8e4;
    border-bottom: 1px solid #34baff;
    letter-spacing: 3px;
    transition-property: transform, text-shadow, letter-spacing, box-shadow;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    color: inherit;
}

.tab:hover {
    border-bottom-width: 0px;
    box-shadow: 1px 2px #34baff;
    transform: rotate(5deg);
    letter-spacing: 6px;
    text-shadow: 20px -10px #34baff;
}

.nav_bar_option_image{
    width: 50px;
    height:50px;
    float: left;
    margin-right: 10px;
}

.main_pic{
    height: 200px;
}

.profile_pic{
    width: 200px;
    height: 200px;
    margin-left: 25px;
    transition: transform 1000ms ease-in;
}

.nav_holder:hover .profile_pic{
    transform: rotate(360deg);
}

.profile_name{
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 25px;
    position: relative;
    letter-spacing: 5px;
    display: block;
    text-align: center;
    color: inherit;
}

/*NAVIGATION BAR END*/

/*BASIC BODY CONTENT*/
.content {
    position: absolute;
    background: inherit;
    top: 0;
    display: block;
    height: 100%;
    min-width: 800px;
    font-size: 150%;
}

.content_header{
    padding-top: 25px;
    background-color: #e6f7ff;
    border-bottom: 3px solid #80d4ff;
}

.content_header p{
    margin: 0;
    font-size: 300%;
    text-align: center;
    color: #00669b;
    transition-property: all;
    transition-duration: 1000ms;
    transition-timing-function: linear;
}

.content_header p:hover{
    text-shadow: 10px -10px #34baff;
}

.content_body{
    margin: 25px;
    padding: 25px;
    background-color: #e6f7ff;
    border: 3px solid #80d4ff;
}

.contact_info {
    margin: auto;
}

.content_body p{
    margin-left: 5%;
    margin-right: 5%

}
/*BASIC BODY CONTENT END*/
